<div [ngClass]="'contNombre'">
 <p class="capturaNombre"> Introduce tu nombre </p>
 <input type="text" #alumno>
 <button (click)="llamaNombre(alumno.value)" class="boton">Go!</button>
</div>


<h1>
  <div [ngClass]=" 'alumno '"> Bienvenid@ ! {{alumno.value | titlecase}}</div>
  <ol [ngClass]="'lista'">
    <li *ngFor="let alumno of alumnos" class="contLista">
      <div [ngClass]=" 'items' ">Id. {{alumno.id }} - Nombre: {{alumno.nombre}} - Cursos: {{alumno.cursos}}</div>
    </li>
</ol>
</h1>


<div class="contCards" >
  <div class="card card-1" style="width: 18rem" *ngFor="let curso of cursos">
    <img src="{{curso.img}}" alt="">
    <div class="card-body">
      <h5 class="card-title">{{curso.nombre}}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-dark">Go start !</a>
    </div>
  </div>

</div>
