
.boton{
    padding: .3rem .4rem;
    border-radius: 5px;
    border: 1px solid #5CE1E6;
    color: white;
    background: #FFDE59;
}
.alumno{
    margin-left: 2rem;
    background: white;
    border-radius: 5px;
    width: 30rem;
}

.lista{
 background: linear-gradient(#5CE1E6, #FFDE59);
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
}
.items {
    color: #101728;
    list-style: none;
}
.contLista{
    list-style: none;
}

/* Style Cards*/

.contCards {
    margin-top: 5rem;
  display: flex;  
  justify-content: space-around;
}

